* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
html,
body {
    width: 100%;
    height: 100%;
}
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 100%;
}

/* ==========================================================================
   MiX Styles :-)
   ========================================================================== */

html,body{
    height: 100%;
}

body{
    background-color: black;
    margin: 0;
}

.desktop_bg{
    background-image: url("/img/desktop_bg2.png");
    background-repeat: repeat;
    width: 100%;
    height: 105%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -3;
}

.main-container{
    height: 100%;
    width: 100%;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
}

/* ==========================================================================
   Flipping stuff
   ========================================================================== */
/* entire container, keeps perspective */
.flip-container {
    -webkit-perspective: 1000;
    perspective: 1000;
}

/* flip the pane when hovered */
.flip-container.turnaround .flipper {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 320px;
    height: 480px;
    width: 100%;
    height: 100%;
}

/* flip speed goes here */
.flipper {
    -webkit-transition: 0.6s;
    transition: 0.6s;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    width: 100%;
    height: 100%;
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


/* ==========================================================================
   programma (front)
   ========================================================================== */

.agenda-background{
    position: relative;
    width: 100%;
}

.agenda-content{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.agenda-content .flyer-button {
    bottom: 1%;
    height: 7.5%;
    left: 7%;
    width: 26%;
    overflow: hidden;
    position: absolute;
    opacity: 0;
}

.agenda-content .inschrijven-button {
    bottom: 1.5%;
    height: 7%;
    right: 5%;
    width: 36%;
    overflow: hidden;
    position: absolute;
    opacity: 0;
}

/* ==========================================================================
   e-flyer (back)
   ========================================================================== */


.flyer-background{
   position: relative;
   width: 100%;
}

.flyer-content, .flyer-background-colorpane{
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
}

/* TITLE CONTAINER */
.flyer-content .title-container{
    width: 100%;
    height: 10%;
    margin-top:10px;
    cursor: pointer;
    text-align: center;
}

.flyer-content .title-container a{
    color: #e50d74;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
}

/* HELMET CONTAINER */
.flyer-content .helmet-container{
    position: relative;
    width: 100%;
    height: 18%;
    text-align: center;
}

.flyer-content #loadingmusic{
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
}

.flyer-content #loadingmusic.hidden{
    opacity: 0;
}

.flyer-content #loadingmusic .text{
    width: 100%;
    height: 26px;
    background-color: rgba(255,255,255,0.6);
}

.flyer-content #loadingmusic .bar{
    height: 3px;
    width: 0%;
    background-color: #e50d74;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.8;
}

/* SEQQUENCE CONTAINER */
.flyer-content .sequence-container{
    height: 50%;
    width: 100%;
    position: relative;
    font-size: 0px; /* anders zou inline-block wel eens kunnen zorgen voor whitespace tussen de divs */
    white-space:nowrap;
}

.flyer-content .sequence-group{
    height: 100%;
    width: 33.5%;
    display: inline-block;
}

.flyer-content .sequence{
    width: 80%;
    height: 20%;
    margin-top: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.flyer-content #flow-sequencer{
    position: absolute;
    width: 100%;
    height: 15%;
    opacity: 0.8;
    background-color: #e50d74;
    top: 5px;
}

.flyer-content .sequence-left{
    background-color: #F4B227;
    border: 10px solid #F4B227;
}

.flyer-content .sequence-right{
    background-color: #08A3DA;
    border: 10px solid #08A3DA;
}

.flyer-content .sequence-middle{
    background-color: #44D165;
    border: 10px solid #44D165;
}

.flyer-content .sequence-left-off{
    border: 10px solid #F4B227;
}

.flyer-content .sequence-middle-off{
    border: 10px solid #44D165;
}

.flyer-content .sequence-right-off{
    border: 10px solid #08A3DA;
}

.flyer-content .agenda-button{
    bottom: 5%;
    left: 5%;
    width: 40%;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    text-align: center;
}

.flyer-content .inschrijven-button{
    bottom: 5%;
    right: 5%;
    width: 40%;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    text-align: center;
}


/* CREDITS */
.flyer-content #madeby{
    position: absolute;
    bottom: 0px;
    color: #e50d74;
    font-size: 9px;
    width: 100%;
    text-align: center;
}



