* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Century Gothic', 'Didact Gothic', CenturyGothic, AppleGothic, CenturyGothic, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #333;
  position: relative;
  color: #e60800;
  font-size: 16px;
}
a {
  color: inherit;
  margin: 0;
  padding: 0;
}
a,
.link {
  text-decoration: underline;
}
a:hover,
.link:hover {
  text-decoration: none;
}
body {
  background-color: #f0f0f0;
}
.content {
  width: 100%;
  text-align: center;
}
.title {
  font-weight: bold;
  font-size: 48px;
}
.buttons {
  width: 204px;
  height: 204px;
  margin-left: auto;
  margin-right: auto;
}
.picturebutton,
.q,
.screw {
  width: 96px;
  height: 96px;
  vertical-align: top;
  cursor: pointer;
  color: #f7f7f4;
  font-weight: bold;
  text-align: center;
  line-height: 96px;
}
.picturebutton {
  float: left;
}
.picturebutton .userimage {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.picturebutton .spinner {
  display: none;
  position: absolute;
  left: 33px;
  top: 32px;
  width: 32px;
  height: 32px;
}
.picturebutton .fileinput {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  opacity: 0;
  cursor: pointer;
}
.q {
  float: left;
  background-color: #008000;
  font-size: 12px;
  margin-left: 12px;
}
.screw {
  float: right;
  background-color: #e60800;
  font-size: 12px;
  margin-top: 12px;
}
.youvoted {
  display: none;
  margin-top: 20px;
  font-size: 22px;
}
